node_modules
dist
.tmp
.sass-cache
bower_components
test/bower_components

*.json

.idea/encodings.xml

*.xml

*.xml

*.js

*.json

*.xml

*.xml

.idea/watcherTasks.xml

*.xml

*.xml

*.xml

.idea/encodings.xml

.idea/watcherTasks.xml

*.json

*.js

*.xml

*.xml

*.xml

.idea/watcherTasks.xml

.idea/encodings.xml

.idea/workspace.xml

GulpFiles/build/gulpfile.js

*.json

.idea/vcs.xml

styles.css



app/images/.DS_Store

app/.DS_Store
