@charset "UTF-8";

@font-face {
  font-family: "fgl";
  src:url("fonts/fgl.eot");
  src:url("fonts/fgl.eot?#iefix") format("embedded-opentype"),
  url("fonts/fgl.woff") format("woff"),
  url("fonts/fgl.ttf") format("truetype"),
  url("fonts/fgl.svg#fgl") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fgl" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fgl-"]:before,
[class*=" fgl-"]:before {
  font-family: "fgl" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fgl-about-careers:before {
  content: "\63";
}
.fgl-about-culture:before {
  content: "\64";
}
.fgl-about-ratings:before {
  content: "\65";
}
.fgl-agent-change-status:before {
  content: "\66";
}
.fgl-agent-contact-us:before {
  content: "\67";
}
.fgl-agent-contacted:before {
  content: "\68";
}
.fgl-agent-imo:before {
  content: "\69";
}
.fgl-eight:before {
  content: "\6a";
}
.fgl-fgny-index-choice-10:before {
  content: "\6b";
}
.fgl-fgny-index-safety-7:before {
  content: "\6c";
}
.fgl-five:before {
  content: "\6d";
}
.fgl-policyholder-contact-us:before {
  content: "\6e";
}
.fgl-two:before {
  content: "\6f";
}
.fgl-three:before {
  content: "\70";
}
.fgl-perf-pro:before {
  content: "\71";
}
.fgl-one:before {
  content: "\72";
}
.fgl-ten:before {
  content: "\73";
}
.fgl-six:before {
  content: "\74";
}
.fgl-nine:before {
  content: "\75";
}
.fgl-media-contact-us:before {
  content: "\76";
}
.fgl-seven:before {
  content: "\77";
}
.fgl-safe-income-plus:before {
  content: "\78";
}
.fgl-life-elite:before {
  content: "\79";
}
.fgl-life-choice:before {
  content: "\7a";
}
.fgl-retirement-pro:before {
  content: "\41";
}
.fgl-pros-elite:before {
  content: "\42";
}
.fgl-investor-contact-us:before {
  content: "\43";
}
.fgl-interested-customer:before {
  content: "\44";
}
.fgl-policyholder-submit-policies:before {
  content: "\45";
}
.fgl-policyholder-reach-customer-service:before {
  content: "\46";
}
.fgl-policyholder-request-agent-call:before {
  content: "\47";
}
.fgl-index-choice-10:before {
  content: "\48";
}
.fgl-immediate-income:before {
  content: "\49";
}
.fgl-guarantee-platinum:before {
  content: "\4a";
}
.fgl-policyholder-manage-policies:before {
  content: "\4b";
}
.fgl-policyholder-faq:before {
  content: "\4c";
}
.fgl-four:before {
  content: "\4d";
}
.fgl-accumulatorplus:before {
  content: "\61";
}
.fgl-about-bod:before {
  content: "\62";
}
.fgl-fg-accelerator-plus:before {
  content: "\4e";
}

