/*-----------------------------------------------------------------------------------

    contact.less

-----------------------------------------------------------------------------------*/
/* Contact Page
-----------------------------------------------------------------*/
section.contact-top-container {
  background: url('images/contact/contact.jpg');
  background-size: cover;
  position: relative;
}
section.contact-top-container .heading-block h1 {
  font-size: 38px;
  text-transform: none;
  font-weight: 500;
}
section.contact-top-container .search-bar {
  max-width: 570px;
  padding-left: 25px;
  padding-right: 25px;
}
section.contact-top-container .search-bar input.form-control {
  border-radius: 0px;
}
section.contact-top-container .search-bar span.input-group-btn {
  border-radius: 0px;
}
section.contact-top-container .search-bar input {
  background: url('images/icons/search-icon.png') no-repeat 35px 13px;
  background-color: #fff;
  padding-left: 80px !important;
  width: 100% !important;
}
section.contact-top-container .search-bar .input-group {
  width: 100%;
}
section.contact-top-container .contact-page .tabs.tabs-alt ul.tab-nav li.ui-tabs-active a {
  border: none;
  border-bottom: 2px solid #1ABC9C;
}
section.contact-top-container .contact-page ul.tab-nav.clearfix.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
  margin-bottom: 25px;
}
section.contact-top-container .contact-page ul.tab-nav li a {
  text-transform: uppercase;
  font-size: 15px;
}
section.contact-top-container h4.blue-heading {
  color: @fgl-blue;
  font-size: 20px !important;
}
section.contact-top-container .contact-hours {
  font-size: 15px;
  line-height: 1.4 !important;
  margin-bottom: 10px;
}
section.contact-top-container .contact-number {
  font-weight: bold;
  font-size: 15px;
  color: #5a6771;
}
section.contact-top-container p.hours-title {
  line-height: 1.3 !important;
  margin-top: 8px;
  margin-bottom: 15px;
}
section.contact-top-container p.hours-title span {
  font-weight: bold;
}
section.contact-top-container form.contact-page-form button#submit-button {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
}
